.text-field {
    -fx-background-color: rgb(240, 240, 240);
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-width: 2;
}

.text-field:focused {
    -fx-background-color: rgb(229, 239, 255);
    -fx-border-color: rgb(168, 201, 255);
    -fx-border-width: 2;
}

.error-label {
    -fx-text-fill: red;
}

.button {
    -fx-background-color: rgb(46, 95, 173);
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: rgb(61, 135, 255);
    -fx-cursor: hand;
}

.hyperlink:focused {
    -fx-border-width: 0;
}

.scroll-pane, .scroll-pane>.viewport {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
}