.menu-bar {
    -fx-background-color: rgb(0, 0, 0);
}

.menu>.label {
    -fx-text-fill: rgb(220, 220, 220);
}

.menu:hover, .menu:showing {
    -fx-background-color: rgb(46, 95, 173);
}

.menu:hover .label {
    -fx-text-fill: rgb(255, 255, 255);
}

.menu-item {
    -fx-background-color: rgb(46, 95, 173);
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: rgb(61, 135, 255);
}

.context-menu {
    -fx-min-width: 200px;
    -fx-background-color: rgb(46, 95, 173);
    -fx-padding: 0px 0px 0px 0px;
    -fx-text-fill: white;
}