.ogs-content-pane {
    -fx-background-color: white;
}

.ogs-login {
    -fx-background-color: white;
}

.ogs-logo-text {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-fill: black;
}

.ogs-client-header {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-fill: rgb(140, 140, 140);
}

.client-sidebar {
    -fx-background-color: white;
}

.sidebar-item {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.client-sidebar .toggle-button:selected {
    -fx-background-color: rgb(224, 235, 255);
}

.client-sidebar .play-button {
    -fx-background-color: rgb(46, 95, 173);
    -fx-text-fill: white;
}

.client-sidebar .play-button:hover {
    -fx-background-color: rgb(61, 135, 255);
    -fx-text-fill: white;
}

.sidebar-item:hover {
    -fx-background-color: rgb(240, 240, 240);
}