.ogs-login {
    -fx-background-color: white;
}

.client-sidebar {
    -fx-background-color: rgb(230, 230, 230);
}

.sidebar-item {
    -fx-background-color: rgb(230, 230, 230);
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.client-sidebar .toggle-button:selected {
    -fx-background-color: rgb(255, 255, 255);
}

.client-sidebar .play-button {
    -fx-background-color: rgb(46, 95, 173);
    -fx-text-fill: white;
}

.client-sidebar .play-button:hover {
    -fx-background-color: rgb(61, 135, 255);
    -fx-text-fill: white;
}

.sidebar-item:hover {
    -fx-background-color: rgb(240, 240, 240);
}