.ogs-content-pane {
    -fx-background-color: white;
}

.ogs-login {
    -fx-background-color: white;
}

.ogs-logo-text {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-fill: black;
}

.ogs-client-header {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-fill: rgb(140, 140, 140);
}

/* */
.client-sidebar {
    -fx-background-color: white;
}

.sidebar-item {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.client-sidebar .toggle-button:selected {
    -fx-background-color: rgb(224, 235, 255);
}

.client-sidebar .play-button {
    -fx-background-color: rgb(46, 95, 173);
    -fx-text-fill: white;
}

.client-sidebar .play-button:hover {
    -fx-background-color: rgb(61, 135, 255);
    -fx-text-fill: white;
}

.sidebar-item:hover {
    -fx-background-color: rgb(240, 240, 240);
}

/* Active game tab pane */
.active-games-tabpane *.tab-header-area {
    -fx-padding: 2 15 0 15;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: white;
}

.active-games-tabpane *.tab-header-background {
    -fx-background-color: white;
}

.active-games-tabpane .tab {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
    -fx-min-width: 75px;
}

.active-games-tabpane .tab:selected {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
    -fx-min-width: 75px;
    -fx-focus-color: transparent;
    -fx-border-color: rgb(224, 235, 255);
    -fx-border-width: 0 0 3 0;
}
/* End of game tab pane */

.ogs-gamepane-sidebar {
    -fx-background-color: transparent;
}